USE [master]
GO
/****** Object:  Database [Karaoke1]    Script Date: 2024/04/15 10:35:58 ******/
CREATE DATABASE [Karaoke1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Karaoke1', FILENAME = N'E:\Study\CNPM\Cuoiki\Karaoke_Management(Mine)\KaraokeManagementSystem\bin\Release\Karaoke1.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Karaoke1_log1', FILENAME = N'E:\Study\CNPM\Cuoiki\Karaoke_Management(Mine)\KaraokeManagementSystem\bin\Release\Karaoke1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Karaoke1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Karaoke1]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 2024/04/15 10:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id_bill] [int] IDENTITY(1,1) NOT NULL,
	[id_room] [int] NOT NULL,
	[guest_phonenum] [varchar](50) NULL,
	[em_phonenum] [varchar](50) NOT NULL,
	[time_in] [datetime] NOT NULL,
	[total] [int] NULL,
	[is_pay] [bit] NOT NULL,
 CONSTRAINT [PK_bill] PRIMARY KEY CLUSTERED 
(
	[id_bill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_detail]    Script Date: 2024/04/15 10:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_detail](
	[id_detail_bill] [int] IDENTITY(1,1) NOT NULL,
	[id_bill] [int] NOT NULL,
	[id_food] [int] NOT NULL,
	[amount] [int] NOT NULL,
 CONSTRAINT [PK_bill_detail] PRIMARY KEY CLUSTERED 
(
	[id_detail_bill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 2024/04/15 10:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[phonenumber] [varchar](50) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[gender] [char](2) NOT NULL,
	[passcode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_employee] PRIMARY KEY CLUSTERED 
(
	[phonenumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food]    Script Date: 2024/04/15 10:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food](
	[id_food] [int] IDENTITY(1,1) NOT NULL,
	[foodname] [varchar](50) NOT NULL,
	[food_type] [varchar](50) NOT NULL,
	[amount] [int] NOT NULL,
	[price] [int] NOT NULL,
 CONSTRAINT [PK_food] PRIMARY KEY CLUSTERED 
(
	[id_food] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guest]    Script Date: 2024/04/15 10:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guest](
	[phonenumber] [varchar](50) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[dob] [date] NOT NULL,
	[rank_type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_guest] PRIMARY KEY CLUSTERED 
(
	[phonenumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room]    Script Date: 2024/04/15 10:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[id_room] [int] IDENTITY(1,1) NOT NULL,
	[room_type] [varchar](50) NOT NULL,
	[room_status] [varchar](50) NOT NULL,
	[price] [int] NOT NULL,
 CONSTRAINT [PK_room] PRIMARY KEY CLUSTERED 
(
	[id_room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[song]    Script Date: 2024/04/15 10:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[song](
	[id_song] [int] IDENTITY(1,1) NOT NULL,
	[songname] [varchar](50) NOT NULL,
	[song_type] [varchar](50) NOT NULL,
	[song_artist] [varchar](50) NOT NULL,
 CONSTRAINT [PK_song] PRIMARY KEY CLUSTERED 
(
	[id_song] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2024/04/15 10:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[user_role] [int] NOT NULL,
 CONSTRAINT [PK_users_1] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[guest] ADD  CONSTRAINT [DF_RankType]  DEFAULT ('normal') FOR [rank_type]
GO
ALTER TABLE [dbo].[room] ADD  CONSTRAINT [DF_RoomType]  DEFAULT ('normal') FOR [room_type]
GO
ALTER TABLE [dbo].[room] ADD  CONSTRAINT [DF_RoomStatus]  DEFAULT ('available') FOR [room_status]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FK_bill_employee] FOREIGN KEY([em_phonenum])
REFERENCES [dbo].[employee] ([phonenumber])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_employee]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FK_bill_guest] FOREIGN KEY([guest_phonenum])
REFERENCES [dbo].[guest] ([phonenumber])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_guest]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FK_bill_room] FOREIGN KEY([id_room])
REFERENCES [dbo].[room] ([id_room])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_room]
GO
ALTER TABLE [dbo].[bill_detail]  WITH CHECK ADD  CONSTRAINT [FK_bill_detail_bill] FOREIGN KEY([id_bill])
REFERENCES [dbo].[bill] ([id_bill])
GO
ALTER TABLE [dbo].[bill_detail] CHECK CONSTRAINT [FK_bill_detail_bill]
GO
ALTER TABLE [dbo].[bill_detail]  WITH CHECK ADD  CONSTRAINT [FK_bill_detail_food] FOREIGN KEY([id_food])
REFERENCES [dbo].[food] ([id_food])
GO
ALTER TABLE [dbo].[bill_detail] CHECK CONSTRAINT [FK_bill_detail_food]
GO
ALTER TABLE [dbo].[guest]  WITH CHECK ADD  CONSTRAINT [CK_RankType] CHECK  (([rank_type]='normal' OR [rank_type]='diamond' OR [rank_type]='platinum' OR [rank_type]='gold' OR [rank_type]='vip'))
GO
ALTER TABLE [dbo].[guest] CHECK CONSTRAINT [CK_RankType]
GO
ALTER TABLE [dbo].[room]  WITH CHECK ADD  CONSTRAINT [CHK_room_status] CHECK  (([room_status]='used' OR [room_status]='available'))
GO
ALTER TABLE [dbo].[room] CHECK CONSTRAINT [CHK_room_status]
GO
ALTER TABLE [dbo].[room]  WITH CHECK ADD  CONSTRAINT [CK_RoomType] CHECK  (([room_type]='vip' OR [room_type]='normal'))
GO
ALTER TABLE [dbo].[room] CHECK CONSTRAINT [CK_RoomType]
GO
USE [master]
GO
